
@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name );
}

body{
    background-color: $primary-color;
    padding: 3rem;
}

h1{
    display: flex;
    justify-content: center;
}

nav,ul,li,a{
    display: flex;
    padding: 5px 2rem 5px 3px;
    text-decoration: none;
    color: black;
}

#guess{
    font-weight: weight(bold );
}

.footer{
    width: 80%;
    margin: 2rem;

    #{&}__paragraph{
        font-weight: weight(bold);
    }
}

#actress{
    .actressPara:hover{
        background-color: $text-onhover;
        display: inline;
    }
    
}

.imageBox{
    display: flex;
    height: 50%;
    padding-top:1rem ;
}

.imgDescription{
    padding-left: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}