
@import './resets';
@import './variables';
@import './contact';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name );
}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true){
    @if $light-theme{
        background-color: $primary-color;
        color: $text-color;
    }

}

@mixin mobile{
    @media(max-width: $mobile) {
        @content;
    }
}

body{
    padding: 3rem;
}

.light{
    @include theme(true)
}

h1{
    display: flex;
    justify-content: center;
}

.navlist {
    display: flex;
    li a {
        padding: 5px 2rem 5px 3px;
        text-decoration: none;
        color: white;
    }
    
}

.mainArticle{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#guess{
    font-weight: weight(bold );
}

.footer{
    width: 80%;
    margin: 2rem;


    &__paragraph1{
        font-weight: weight(bold);

        &:hover{
            color: $accent-color;
        }
    }

    &__paragraph2{
        @extend .footer__paragraph1;

        // &:hover{
        //     background-color: $accent-color;
        // }
       
    }

}

#actress{
    .actressPara:hover{
        background-color: $text-onhover;
        display: inline;
    }
    
}

.mainSec{
 
    margin-bottom: 2rem;
}

.imageBox{
    display: flex;
    height: 50%;
    padding-top:1rem ;
    @include mobile{
        flex-direction: column;
    }
}

.imgDescription{
    padding-left: 5px;
    width: 50%;
    @include flexCenter(row);
    font-size: larger;
}

#contact{
    font-weight: weight(bold);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
